<!doctype html>

<html
  lang="en"
  class="light-style layout-navbar-fixed layout-wide"
  dir="ltr"
  data-theme="theme-default"
  data-assets-path="../../assets/"
  data-template="front-pages-no-customizer"
  data-style="light">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />

    <title>Pricing - Front Pages | Materialize - Material Design HTML Admin Template</title>

    <meta name="description" content="" />

    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="../../assets/img/favicon/favicon.ico" />

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&ampdisplay=swap"
      rel="stylesheet" />

    <link rel="stylesheet" href="../../assets/vendor/fonts/remixicon/remixicon.css" />

    <!-- Menu waves for no-customizer fix -->
    <link rel="stylesheet" href="../../assets/vendor/libs/node-waves/node-waves.css" />

    <!-- Core CSS -->
    <link rel="stylesheet" href="../../assets/vendor/css/rtl/core.css" />
    <link rel="stylesheet" href="../../assets/vendor/css/rtl/theme-default.css" />
    <link rel="stylesheet" href="../../assets/css/demo.css" />
    <link rel="stylesheet" href="../../assets/vendor/css/pages/front-page.css" />
    <!-- Vendors CSS -->

    <!-- Page CSS -->
    <link rel="stylesheet" href="../../assets/vendor/css/pages/front-page-pricing.css" />

    <!-- Helpers -->
    <script src="../../assets/vendor/js/helpers.js"></script>
    <!--! Template customizer & Theme config files MUST be included after core stylesheets and helpers.js in the <head> section -->
    <!--? Config:  Mandatory theme config file contain global vars & default theme options, Set your preferred theme option in this file.  -->
    <script src="../../assets/js/front-config.js"></script>
  </head>

  <body>
    <script src="../../assets/vendor/js/dropdown-hover.js"></script>
    <script src="../../assets/vendor/js/mega-dropdown.js"></script>

    <!-- Navbar: Start -->
    <nav class="layout-navbar container shadow-none py-0">
      <div class="navbar navbar-expand-lg landing-navbar border-top-0 px-4 px-md-8">
        <!-- Menu logo wrapper: Start -->
        <div class="navbar-brand app-brand demo d-flex py-0 py-lg-2 me-6">
          <!-- Mobile menu toggle: Start-->
          <button
            class="navbar-toggler border-0 px-0 me-2"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation">
            <i class="tf-icons ri-menu-fill ri-24px align-middle"></i>
          </button>
          <!-- Mobile menu toggle: End-->
          <a href="landing-page.html" class="app-brand-link">
            <span class="app-brand-logo demo">
              <span style="color: #666cff">
                <svg width="268" height="150" viewBox="0 0 38 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M30.0944 2.22569C29.0511 0.444187 26.7508 -0.172113 24.9566 0.849138C23.1623 1.87039 22.5536 4.14247 23.5969 5.92397L30.5368 17.7743C31.5801 19.5558 33.8804 20.1721 35.6746 19.1509C37.4689 18.1296 38.0776 15.8575 37.0343 14.076L30.0944 2.22569Z"
                    fill="currentColor" />
                  <path
                    d="M30.171 2.22569C29.1277 0.444187 26.8274 -0.172113 25.0332 0.849138C23.2389 1.87039 22.6302 4.14247 23.6735 5.92397L30.6134 17.7743C31.6567 19.5558 33.957 20.1721 35.7512 19.1509C37.5455 18.1296 38.1542 15.8575 37.1109 14.076L30.171 2.22569Z"
                    fill="url(#paint0_linear_2989_100980)"
                    fill-opacity="0.4" />
                  <path
                    d="M22.9676 2.22569C24.0109 0.444187 26.3112 -0.172113 28.1054 0.849138C29.8996 1.87039 30.5084 4.14247 29.4651 5.92397L22.5251 17.7743C21.4818 19.5558 19.1816 20.1721 17.3873 19.1509C15.5931 18.1296 14.9843 15.8575 16.0276 14.076L22.9676 2.22569Z"
                    fill="currentColor" />
                  <path
                    d="M14.9558 2.22569C13.9125 0.444187 11.6122 -0.172113 9.818 0.849138C8.02377 1.87039 7.41502 4.14247 8.45833 5.92397L15.3983 17.7743C16.4416 19.5558 18.7418 20.1721 20.5361 19.1509C22.3303 18.1296 22.9391 15.8575 21.8958 14.076L14.9558 2.22569Z"
                    fill="currentColor" />
                  <path
                    d="M14.9558 2.22569C13.9125 0.444187 11.6122 -0.172113 9.818 0.849138C8.02377 1.87039 7.41502 4.14247 8.45833 5.92397L15.3983 17.7743C16.4416 19.5558 18.7418 20.1721 20.5361 19.1509C22.3303 18.1296 22.9391 15.8575 21.8958 14.076L14.9558 2.22569Z"
                    fill="url(#paint1_linear_2989_100980)"
                    fill-opacity="0.4" />
                  <path
                    d="M7.82901 2.22569C8.87231 0.444187 11.1726 -0.172113 12.9668 0.849138C14.7611 1.87039 15.3698 4.14247 14.3265 5.92397L7.38656 17.7743C6.34325 19.5558 4.04298 20.1721 2.24875 19.1509C0.454514 18.1296 -0.154233 15.8575 0.88907 14.076L7.82901 2.22569Z"
                    fill="currentColor" />
                  <defs>
                    <linearGradient
                      id="paint0_linear_2989_100980"
                      x1="5.36642"
                      y1="0.849138"
                      x2="10.532"
                      y2="24.104"
                      gradientUnits="userSpaceOnUse">
                      <stop offset="0" stop-opacity="1" />
                      <stop offset="1" stop-opacity="0" />
                    </linearGradient>
                    <linearGradient
                      id="paint1_linear_2989_100980"
                      x1="5.19475"
                      y1="0.849139"
                      x2="10.3357"
                      y2="24.1155"
                      gradientUnits="userSpaceOnUse">
                      <stop offset="0" stop-opacity="1" />
                      <stop offset="1" stop-opacity="0" />
                    </linearGradient>
                  </defs>
                </svg>
              </span>
            </span>
            <span class="app-brand-text demo menu-text fw-semibold ms-2 ps-1">Materialize</span>
          </a>
        </div>
        <!-- Menu logo wrapper: End -->
        <!-- Menu wrapper: Start -->
        <div class="collapse navbar-collapse landing-nav-menu" id="navbarSupportedContent">
          <button
            class="navbar-toggler border-0 text-heading position-absolute end-0 top-0 scaleX-n1-rtl"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation">
            <i class="tf-icons ri-close-fill"></i>
          </button>
          <ul class="navbar-nav me-auto p-4 p-lg-0">
            <li class="nav-item">
              <a class="nav-link fw-medium" aria-current="page" href="landing-page.html#landingHero">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link fw-medium" href="landing-page.html#landingFeatures">Features</a>
            </li>
            <li class="nav-item">
              <a class="nav-link fw-medium" href="landing-page.html#landingTeam">Team</a>
            </li>
            <li class="nav-item">
              <a class="nav-link fw-medium" href="landing-page.html#landingFAQ">FAQ</a>
            </li>
            <li class="nav-item">
              <a class="nav-link fw-medium text-nowrap" href="landing-page.html#landingContact">Contact us</a>
            </li>
            <li class="nav-item mega-dropdown active">
              <a
                href="javascript:void(0);"
                class="nav-link dropdown-toggle navbar-ex-14-mega-dropdown mega-dropdown fw-medium"
                aria-expanded="false"
                data-bs-toggle="mega-dropdown"
                data-trigger="hover">
                <span data-i18n="Pages">Pages</span>
              </a>
              <div class="dropdown-menu p-4 p-lg-6">
                <div class="row gy-4">
                  <div class="col-12 col-lg">
                    <div class="h6 d-flex align-items-center mb-2 mb-lg-4">
                      <div class="avatar avatar-sm flex-shrink-0 me-2">
                        <span class="avatar-initial rounded bg-label-primary"><i class="ri-layout-grid-line"></i></span>
                      </div>
                      <span class="ps-1">Other</span>
                    </div>
                    <ul class="nav flex-column">
                      <li class="nav-item active">
                        <a class="nav-link mega-dropdown-link d-flex align-items-center" href="pricing-page.html">
                          <i class="menu-icon tf-icons ri-circle-line me-2"></i>
                          <span data-i18n="Pricing">Pricing</span>
                        </a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link mega-dropdown-link d-flex align-items-center" href="payment-page.html">
                          <i class="menu-icon tf-icons ri-circle-line me-2"></i>
                          <span data-i18n="Payment">Payment</span>
                        </a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link mega-dropdown-link d-flex align-items-center" href="checkout-page.html">
                          <i class="menu-icon tf-icons ri-circle-line me-2"></i>
                          <span data-i18n="Checkout">Checkout</span>
                        </a>
                      </li>
                      <li class="nav-item">
                        <a
                          class="nav-link mega-dropdown-link d-flex align-items-center"
                          href="help-center-landing.html">
                          <i class="menu-icon tf-icons ri-circle-line me-2"></i>
                          <span data-i18n="Help Center">Help Center</span>
                        </a>
                      </li>
                    </ul>
                  </div>
                  <div class="col-12 col-lg">
                    <div class="h6 d-flex align-items-center mb-2 mb-lg-4">
                      <div class="avatar avatar-sm flex-shrink-0 me-2">
                        <span class="avatar-initial rounded bg-label-primary"><i class="ri-lock-unlock-line"></i></span>
                      </div>
                      <span class="ps-1">Auth Demo</span>
                    </div>
                    <ul class="nav flex-column">
                      <li class="nav-item">
                        <a
                          class="nav-link mega-dropdown-link d-flex align-items-center"
                          href="../vertical-menu-template/auth-login-basic.html"
                          target="_blank">
                          <i class="menu-icon tf-icons ri-circle-line me-2"></i>
                          Login (Basic)
                        </a>
                      </li>
                      <li class="nav-item">
                        <a
                          class="nav-link mega-dropdown-link d-flex align-items-center"
                          href="../vertical-menu-template/auth-login-cover.html"
                          target="_blank">
                          <i class="menu-icon tf-icons ri-circle-line me-2"></i>
                          Login (Cover)
                        </a>
                      </li>
                      <li class="nav-item">
                        <a
                          class="nav-link mega-dropdown-link d-flex align-items-center"
                          href="../vertical-menu-template/auth-register-basic.html"
                          target="_blank">
                          <i class="menu-icon tf-icons ri-circle-line me-2"></i>
                          Register (Basic)
                        </a>
                      </li>
                      <li class="nav-item">
                        <a
                          class="nav-link mega-dropdown-link d-flex align-items-center"
                          href="../vertical-menu-template/auth-register-cover.html"
                          target="_blank">
                          <i class="menu-icon tf-icons ri-circle-line me-2"></i>
                          Register (Cover)
                        </a>
                      </li>
                      <li class="nav-item">
                        <a
                          class="nav-link mega-dropdown-link d-flex align-items-center"
                          href="../vertical-menu-template/auth-register-multisteps.html"
                          target="_blank">
                          <i class="menu-icon tf-icons ri-circle-line me-2"></i>
                          Register (Multi-steps)
                        </a>
                      </li>
                      <li class="nav-item">
                        <a
                          class="nav-link mega-dropdown-link d-flex align-items-center"
                          href="../vertical-menu-template/auth-forgot-password-basic.html"
                          target="_blank">
                          <i class="menu-icon tf-icons ri-circle-line me-2"></i>
                          Forgot Password (Basic)
                        </a>
                      </li>
                      <li class="nav-item">
                        <a
                          class="nav-link mega-dropdown-link d-flex align-items-center"
                          href="../vertical-menu-template/auth-forgot-password-cover.html"
                          target="_blank">
                          <i class="menu-icon tf-icons ri-circle-line me-2"></i>
                          Forgot Password (Cover)
                        </a>
                      </li>
                      <li class="nav-item">
                        <a
                          class="nav-link mega-dropdown-link d-flex align-items-center"
                          href="../vertical-menu-template/auth-reset-password-basic.html"
                          target="_blank">
                          <i class="menu-icon tf-icons ri-circle-line me-2"></i>
                          Reset Password (Basic)
                        </a>
                      </li>
                      <li class="nav-item">
                        <a
                          class="nav-link mega-dropdown-link d-flex align-items-center"
                          href="../vertical-menu-template/auth-reset-password-cover.html"
                          target="_blank">
                          <i class="menu-icon tf-icons ri-circle-line me-2"></i>
                          Reset Password (Cover)
                        </a>
                      </li>
                    </ul>
                  </div>
                  <div class="col-12 col-lg">
                    <div class="h6 d-flex align-items-center mb-2 mb-lg-4">
                      <div class="avatar avatar-sm flex-shrink-0 me-2">
                        <span class="avatar-initial rounded bg-label-primary"><i class="ri-image-fill"></i></span>
                      </div>
                      <span class="ps-1">Other</span>
                    </div>
                    <ul class="nav flex-column">
                      <li class="nav-item">
                        <a
                          class="nav-link mega-dropdown-link d-flex align-items-center"
                          href="../vertical-menu-template/pages-misc-error.html"
                          target="_blank">
                          <i class="menu-icon tf-icons ri-circle-line me-2"></i>
                          Error
                        </a>
                      </li>
                      <li class="nav-item">
                        <a
                          class="nav-link mega-dropdown-link d-flex align-items-center"
                          href="../vertical-menu-template/pages-misc-under-maintenance.html"
                          target="_blank">
                          <i class="menu-icon tf-icons ri-circle-line me-2"></i>
                          Under Maintenance
                        </a>
                      </li>
                      <li class="nav-item">
                        <a
                          class="nav-link mega-dropdown-link d-flex align-items-center"
                          href="../vertical-menu-template/pages-misc-comingsoon.html"
                          target="_blank">
                          <i class="menu-icon tf-icons ri-circle-line me-2"></i>
                          Coming Soon
                        </a>
                      </li>
                      <li class="nav-item">
                        <a
                          class="nav-link mega-dropdown-link d-flex align-items-center"
                          href="../vertical-menu-template/pages-misc-not-authorized.html"
                          target="_blank">
                          <i class="menu-icon tf-icons ri-circle-line me-2"></i>
                          Not Authorized
                        </a>
                      </li>
                      <li class="nav-item">
                        <a
                          class="nav-link mega-dropdown-link d-flex align-items-center"
                          href="../vertical-menu-template/auth-verify-email-basic.html"
                          target="_blank">
                          <i class="menu-icon tf-icons ri-circle-line me-2"></i>
                          Verify Email (Basic)
                        </a>
                      </li>
                      <li class="nav-item">
                        <a
                          class="nav-link mega-dropdown-link d-flex align-items-center"
                          href="../vertical-menu-template/auth-verify-email-cover.html"
                          target="_blank">
                          <i class="menu-icon tf-icons ri-circle-line me-2"></i>
                          Verify Email (Cover)
                        </a>
                      </li>
                      <li class="nav-item">
                        <a
                          class="nav-link mega-dropdown-link d-flex align-items-center"
                          href="../vertical-menu-template/auth-two-steps-basic.html"
                          target="_blank">
                          <i class="menu-icon tf-icons ri-circle-line me-2"></i>
                          Two Steps (Basic)
                        </a>
                      </li>
                      <li class="nav-item">
                        <a
                          class="nav-link mega-dropdown-link d-flex align-items-center"
                          href="../vertical-menu-template/auth-two-steps-cover.html"
                          target="_blank">
                          <i class="menu-icon tf-icons ri-circle-line me-2"></i>
                          Two Steps (Cover)
                        </a>
                      </li>
                    </ul>
                  </div>
                  <div class="col-lg-4 d-none d-lg-block">
                    <div class="bg-body nav-img-col p-2">
                      <img
                        src="../../assets/img/front-pages/misc/nav-item-col-img-light.png"
                        class="img-fluid scaleX-n1-rtl w-100"
                        alt="nav item col image"
                        data-app-light-img="front-pages/misc/nav-item-col-img-light.png"
                        data-app-dark-img="front-pages/misc/nav-item-col-img-dark.png" />
                    </div>
                  </div>
                </div>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link fw-medium" href="../vertical-menu-template/index.html" target="_blank">Admin</a>
            </li>
          </ul>
        </div>
        <div class="landing-menu-overlay d-lg-none"></div>
        <!-- Menu wrapper: End -->
        <!-- Toolbar: Start -->
        <ul class="navbar-nav flex-row align-items-center ms-auto">
          <!-- navbar button: Start -->
          <li>
            <a
              href="../vertical-menu-template/auth-login-cover.html"
              class="btn btn-primary px-2 px-sm-4 px-lg-2 px-xl-4"
              target="_blank"
              ><span class="tf-icons ri-user-line me-md-1"></span
              ><span class="d-none d-md-block">Login/Register</span></a
            >
          </li>
          <!-- navbar button: End -->
        </ul>
        <!-- Toolbar: End -->
      </div>
    </nav>
    <!-- Navbar: End -->

    <!-- Sections:Start -->

    <!-- Pricing Plans -->
    <section class="section-py first-section-pt">
      <div class="container">
        <h2 class="text-center mb-2">Pricing Plans</h2>
        <p class="text-center px-sm-12 mb-2">
          <span>All plans include 40+ advanced tools and features to boost your product.</span><br />Choose the best
          plan to fit your needs.
        </p>
        <div class="d-flex align-items-center justify-content-center flex-wrap gap-2 pt-6 mb-0 mb-md-8">
          <label class="switch switch-sm switch-primary ms-sm-12 ps-sm-12 me-0 mb-4 mb-sm-0">
            <span class="switch-label fs-6 text-body">Monthly</span>
            <input type="checkbox" class="switch-input price-duration-toggler" />
            <span class="switch-toggle-slider mt-50">
              <span class="switch-on"></span>
              <span class="switch-off"></span>
            </span>
            <span class="switch-label fs-6 text-body">Annually</span>
          </label>
          <div class="mt-n5 ms-n10 ml-2 mb-8 d-none d-sm-flex align-items-center gap-2">
            <i class="ri-corner-left-down-fill ri-24px text-muted scaleX-n1-rtl"></i>
            <span class="badge badge-sm bg-label-primary rounded-pill mb-2">Get 2 months free</span>
          </div>
        </div>

        <div class="pricing-plans row mx-0 gap-6">
          <!-- Basic -->
          <div class="col-lg px-0">
            <div class="card border shadow-none">
              <div class="card-body pt-12">
                <div class="mt-3 mb-5 text-center">
                  <img src="../../assets/img/illustrations/pricing-basic.png" alt="Basic Image" height="120" />
                </div>
                <h4 class="card-title text-center text-capitalize mb-2">Basic</h4>
                <p class="text-center mb-5">A simple start for everyone</p>
                <div class="text-center">
                  <div class="d-flex justify-content-center">
                    <sup class="h6 pricing-currency mt-2 mb-0 me-1 text-body fw-normal">$</sup>
                    <h1 class="mb-0 text-primary">0</h1>
                    <sub class="h6 pricing-duration mt-auto mb-1 text-body fw-normal">/month</sub>
                  </div>
                </div>

                <ul class="list-group ps-6 my-5 pt-4">
                  <li class="mb-4 lh-1">100 responses a month</li>
                  <li class="mb-4 lh-1">Unlimited forms and surveys</li>
                  <li class="mb-4 lh-1">Unlimited fields</li>
                  <li class="mb-4 lh-1">Basic form creation tools</li>
                  <li class="mb-0 lh-1">Up to 2 subdomains</li>
                </ul>
                <a href="payment-page.html" class="btn btn-outline-success d-grid w-100">Your Current Plan</a>
              </div>
            </div>
          </div>

          <!-- Standard -->
          <div class="col-lg px-0">
            <div class="card border-primary border shadow-none">
              <div class="card-body position-relative pt-4">
                <div class="position-absolute end-0 me-6 top-0 mt-6">
                  <span class="badge bg-label-primary rounded-pill">Popular</span>
                </div>
                <div class="my-5 pt-6 text-center">
                  <img src="../../assets/img/illustrations/pricing-standard.png" alt="Standard Image" height="120" />
                </div>
                <h4 class="card-title text-center text-capitalize mb-2">Standard</h4>
                <p class="text-center mb-5">For small to medium businesses</p>
                <div class="text-center">
                  <div class="d-flex justify-content-center">
                    <sup class="h6 pricing-currency mt-2 mb-0 me-1 text-body fw-normal">$</sup>
                    <h1 class="price-toggle price-yearly text-primary mb-0">7</h1>
                    <h1 class="price-toggle price-monthly text-primary mb-0 d-none">9</h1>
                    <sub class="h6 text-body pricing-duration mt-auto mb-1 fw-normal">/month</sub>
                  </div>
                  <small class="price-yearly price-yearly-toggle text-muted">USD 90 / year</small>
                </div>

                <ul class="list-group ps-6 my-5 pt-4">
                  <li class="mb-4 lh-1">Unlimited responses</li>
                  <li class="mb-4 lh-1">Unlimited forms and surveys</li>
                  <li class="mb-4 lh-1">Instagram profile page</li>
                  <li class="mb-4 lh-1">Google Docs integration</li>
                  <li class="mb-0 lh-1">Custom “Thank you” page</li>
                </ul>
                <a href="payment-page.html" class="btn btn-primary d-grid w-100">Upgrade</a>
              </div>
            </div>
          </div>

          <!-- Enterprise -->
          <div class="col-lg px-0">
            <div class="card border shadow-none">
              <div class="card-body pt-12">
                <div class="mt-3 mb-5 text-center">
                  <img
                    src="../../assets/img/illustrations/pricing-enterprise.png"
                    alt="Enterprise Image"
                    height="120" />
                </div>
                <h4 class="card-title text-center text-capitalize mb-2">Enterprise</h4>
                <p class="text-center mb-5">Solution for big organizations</p>

                <div class="text-center">
                  <div class="d-flex justify-content-center">
                    <sup class="h6 pricing-currency mt-2 mb-0 me-1 text-body fw-normal">$</sup>
                    <h1 class="price-toggle price-yearly text-primary mb-0">16</h1>
                    <h1 class="price-toggle price-monthly text-primary mb-0 d-none">19</h1>
                    <sub class="h6 pricing-duration mt-auto mb-1 fw-normal text-body">/month</sub>
                  </div>
                  <small class="price-yearly price-yearly-toggle text-muted">USD 190 / year</small>
                </div>

                <ul class="list-group ps-6 my-5 pt-4">
                  <li class="mb-4 lh-1">PayPal payments</li>
                  <li class="mb-4 lh-1">Logic Jumps</li>
                  <li class="mb-4 lh-1">File upload with 5GB storage</li>
                  <li class="mb-4 lh-1">Custom domain support</li>
                  <li class="mb-0 lh-1">Stripe integration</li>
                </ul>
                <a href="payment-page.html" class="btn btn-outline-primary d-grid w-100">Upgrade</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--/ Pricing Plans -->
    <!-- Pricing Free Trial -->
    <section class="pricing-free-trial bg-label-primary">
      <div class="container">
        <div class="position-relative">
          <div class="d-flex justify-content-between flex-column-reverse flex-lg-row align-items-center py-12">
            <div class="text-center text-lg-start">
              <h4 class="text-primary mb-2">Still not convinced? Start with a 14-day FREE trial!</h4>
              <p class="text-body mb-6 mb-md-11">You will get full access to with all the features for 14 days.</p>
              <a href="payment-page.html" class="btn btn-primary">Start 14-day free trial</a>
            </div>
            <!-- image -->
            <div class="text-center">
              <img
                src="../../assets/img/illustrations/pricing-illustration.png"
                alt="Pricing Illustration Image"
                class="img-fluid mb-3 mb-lg-0" />
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--/ Pricing Free Trial -->
    <!-- Plans Comparison -->
    <section class="section-py pricing-plans-comparison">
      <div class="container">
        <div class="col-12 text-center mb-6">
          <h4 class="mb-2">Pick a plan that works best for you</h4>
          <p>Stay cool, we have a 48-hour money back guarantee!</p>
        </div>
        <div class="table-responsive border rounded-4">
          <table class="table table-striped text-center mb-0">
            <thead>
              <tr>
                <th scope="col">
                  <p class="mb-0">Time</p>
                </th>
                <th scope="col">
                  <p class="mb-1">Starter</p>
                  <p class="small fw-normal mb-0 text-body">Free</p>
                </th>
                <th scope="col">
                  <div class="d-flex d-flex justify-content-center align-items-center">
                    <p class="mb-0 me-1">Pro</p>
                    <span class="badge badge-center rounded-circle bg-primary">
                      <i class="ri-star-s-fill ri-14px text-white"></i>
                    </span>
                  </div>
                  <p class="small fw-normal text-capitalize mb-0 text-body">$7.5/month</p>
                </th>
                <th scope="col">
                  <p class="mb-1">Enterprise</p>
                  <small class="fw-normal text-capitalize text-bosy">$16/month</small>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="text-heading">14-days free trial</td>
                <td>
                  <i class="ri-checkbox-circle-line ri-24px text-primary"></i>
                </td>
                <td>
                  <i class="ri-checkbox-circle-line ri-24px text-primary"></i>
                </td>
                <td>
                  <i class="ri-checkbox-circle-line ri-24px text-primary"></i>
                </td>
              </tr>
              <tr>
                <td class="text-heading">No user limit</td>
                <td>
                  <i class="ri-close-circle-line ri-24px text-body"></i>
                </td>
                <td>
                  <i class="ri-close-circle-line ri-24px text-body"></i>
                </td>
                <td>
                  <i class="ri-checkbox-circle-line ri-24px text-primary"></i>
                </td>
              </tr>
              <tr>
                <td class="text-heading">Product Support</td>
                <td>
                  <i class="ri-close-circle-line ri-24px text-body"></i>
                </td>
                <td>
                  <i class="ri-checkbox-circle-line ri-24px text-primary"></i>
                </td>
                <td>
                  <i class="ri-checkbox-circle-line ri-24px text-primary"></i>
                </td>
              </tr>
              <tr>
                <td class="text-heading">Email Support</td>
                <td>
                  <i class="ri-close-circle-line ri-24px text-body"></i>
                </td>
                <td>
                  <span class="badge bg-label-primary badge-sm rounded-pill">Add-on Available</span>
                </td>
                <td>
                  <i class="ri-checkbox-circle-line ri-24px text-primary"></i>
                </td>
              </tr>
              <tr>
                <td class="text-heading">Integrations</td>
                <td>
                  <i class="ri-close-circle-line ri-24px text-body"></i>
                </td>
                <td>
                  <i class="ri-checkbox-circle-line ri-24px text-primary"></i>
                </td>
                <td>
                  <i class="ri-checkbox-circle-line ri-24px text-primary"></i>
                </td>
              </tr>
              <tr>
                <td class="text-heading">Removal of Front branding</td>
                <td>
                  <i class="ri-close-circle-line ri-24px text-body"></i>
                </td>
                <td>
                  <span class="badge bg-label-primary badge-sm rounded-pill">Add-on Available</span>
                </td>
                <td>
                  <i class="ri-checkbox-circle-line ri-24px text-primary"></i>
                </td>
              </tr>
              <tr>
                <td class="text-heading">Active maintenance & support</td>
                <td>
                  <i class="ri-close-circle-line ri-24px text-body"></i>
                </td>
                <td>
                  <i class="ri-close-circle-line ri-24px text-body"></i>
                </td>
                <td>
                  <i class="ri-checkbox-circle-line ri-24px text-primary"></i>
                </td>
              </tr>
              <tr>
                <td class="text-heading">Data storage for 365 days</td>
                <td>
                  <i class="ri-close-circle-line ri-24px text-body"></i>
                </td>
                <td>
                  <i class="ri-close-circle-line ri-24px text-body"></i>
                </td>
                <td>
                  <i class="ri-checkbox-circle-line ri-24px text-primary"></i>
                </td>
              </tr>
              <tr>
                <td></td>
                <td>
                  <a href="payment-page.html" class="btn text-nowrap btn-outline-primary">Choose Plan</a>
                </td>
                <td>
                  <a href="payment-page.html" class="btn text-nowrap btn-primary">Choose Plan</a>
                </td>
                <td>
                  <a href="payment-page.html" class="btn text-nowrap btn-outline-primary">Choose Plan</a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </section>
    <!--/ Plans Comparison -->
    <!-- FAQS -->
    <section class="section-py pricing-faqs rounded-bottom bg-body">
      <div class="container">
        <div class="text-center mb-6">
          <h4 class="mb-2">FAQ's</h4>
          <p>Let us help answer the most common questions.</p>
        </div>
        <div id="faq" class="accordion">
          <div class="accordion-item active">
            <h2 class="accordion-header">
              <button
                class="accordion-button"
                type="button"
                data-bs-toggle="collapse"
                aria-expanded="true"
                data-bs-target="#accordionPayment-1"
                aria-controls="accordionPayment-1">
                When is payment taken for my order?
              </button>
            </h2>

            <div id="accordionPayment-1" class="accordion-collapse collapse show">
              <div class="accordion-body">
                Payment is taken during the checkout process when you pay for your order. The order number that appears
                on the confirmation screen indicates payment has been successfully processed.
              </div>
            </div>
          </div>

          <div class="accordion-item">
            <h2 class="accordion-header">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#accordionPayment-2"
                aria-controls="accordionPayment-2">
                How do I pay for my order?
              </button>
            </h2>
            <div id="accordionPayment-2" class="accordion-collapse collapse">
              <div class="accordion-body">
                We accept Visa®, MasterCard®, American Express®, and PayPal®. Our servers encrypt all information
                submitted to them, so you can be confident that your credit card information will be kept safe and
                secure.
              </div>
            </div>
          </div>

          <div class="accordion-item">
            <h2 class="accordion-header">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#accordionPayment-3"
                aria-controls="accordionPayment-3">
                What should I do if I'm having trouble placing an order?
              </button>
            </h2>
            <div id="accordionPayment-3" class="accordion-collapse collapse">
              <div class="accordion-body">
                For any technical difficulties you are experiencing with our website, please contact us at our
                <a href="javascript:void(0);">support portal</a>, or you can call us toll-free at
                <span class="fw-medium">1-000-000-000</span>, or email us at
                <a href="javascript:void(0);">order@companymail.com</a>
              </div>
            </div>
          </div>

          <div class="accordion-item">
            <h2 class="accordion-header">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#accordionPayment-4"
                aria-controls="accordionPayment-4">
                Which license do I need for an end product that is only accessible to paying users?
              </button>
            </h2>
            <div id="accordionPayment-4" class="accordion-collapse collapse">
              <div class="accordion-body">
                If you have paying users or you are developing any SaaS products then you need an Extended License. For
                each products, you need a license. You can get free lifetime updates as well.
              </div>
            </div>
          </div>

          <div class="accordion-item">
            <h2 class="accordion-header">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#accordionPayment-5"
                aria-controls="accordionPayment-5">
                Does my subscription automatically renew?
              </button>
            </h2>
            <div id="accordionPayment-5" class="accordion-collapse collapse">
              <div class="accordion-body">
                No, This is not subscription based item.Pastry pudding cookie toffee bonbon jujubes jujubes powder
                topping. Jelly beans gummi bears sweet roll bonbon muffin liquorice. Wafer lollipop sesame snaps.
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--/ FAQS -->

    <!-- / Sections:End -->

    <!-- Footer: Start -->
    <footer class="landing-footer">
      <div class="footer-top position-relative overflow-hidden">
        <img
          src="../../assets/img/front-pages/backgrounds/footer-bg.png"
          alt="footer bg"
          class="footer-bg banner-bg-img" />
        <div class="container position-relative">
          <div class="row gx-0 gy-7 gx-sm-6 gx-lg-12">
            <div class="col-lg-5">
              <a href="landing-page.html" class="app-brand-link mb-6">
                <span class="app-brand-logo demo me-2">
                  <span style="color: #666cff">
                    <svg width="268" height="150" viewBox="0 0 38 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path
                        d="M30.0944 2.22569C29.0511 0.444187 26.7508 -0.172113 24.9566 0.849138C23.1623 1.87039 22.5536 4.14247 23.5969 5.92397L30.5368 17.7743C31.5801 19.5558 33.8804 20.1721 35.6746 19.1509C37.4689 18.1296 38.0776 15.8575 37.0343 14.076L30.0944 2.22569Z"
                        fill="currentColor" />
                      <path
                        d="M30.171 2.22569C29.1277 0.444187 26.8274 -0.172113 25.0332 0.849138C23.2389 1.87039 22.6302 4.14247 23.6735 5.92397L30.6134 17.7743C31.6567 19.5558 33.957 20.1721 35.7512 19.1509C37.5455 18.1296 38.1542 15.8575 37.1109 14.076L30.171 2.22569Z"
                        fill="url(#paint0_linear_2989_100980)"
                        fill-opacity="0.4" />
                      <path
                        d="M22.9676 2.22569C24.0109 0.444187 26.3112 -0.172113 28.1054 0.849138C29.8996 1.87039 30.5084 4.14247 29.4651 5.92397L22.5251 17.7743C21.4818 19.5558 19.1816 20.1721 17.3873 19.1509C15.5931 18.1296 14.9843 15.8575 16.0276 14.076L22.9676 2.22569Z"
                        fill="currentColor" />
                      <path
                        d="M14.9558 2.22569C13.9125 0.444187 11.6122 -0.172113 9.818 0.849138C8.02377 1.87039 7.41502 4.14247 8.45833 5.92397L15.3983 17.7743C16.4416 19.5558 18.7418 20.1721 20.5361 19.1509C22.3303 18.1296 22.9391 15.8575 21.8958 14.076L14.9558 2.22569Z"
                        fill="currentColor" />
                      <path
                        d="M14.9558 2.22569C13.9125 0.444187 11.6122 -0.172113 9.818 0.849138C8.02377 1.87039 7.41502 4.14247 8.45833 5.92397L15.3983 17.7743C16.4416 19.5558 18.7418 20.1721 20.5361 19.1509C22.3303 18.1296 22.9391 15.8575 21.8958 14.076L14.9558 2.22569Z"
                        fill="url(#paint1_linear_2989_100980)"
                        fill-opacity="0.4" />
                      <path
                        d="M7.82901 2.22569C8.87231 0.444187 11.1726 -0.172113 12.9668 0.849138C14.7611 1.87039 15.3698 4.14247 14.3265 5.92397L7.38656 17.7743C6.34325 19.5558 4.04298 20.1721 2.24875 19.1509C0.454514 18.1296 -0.154233 15.8575 0.88907 14.076L7.82901 2.22569Z"
                        fill="currentColor" />
                      <defs>
                        <linearGradient
                          id="paint0_linear_2989_100980"
                          x1="5.36642"
                          y1="0.849138"
                          x2="10.532"
                          y2="24.104"
                          gradientUnits="userSpaceOnUse">
                          <stop offset="0" stop-opacity="1" />
                          <stop offset="1" stop-opacity="0" />
                        </linearGradient>
                        <linearGradient
                          id="paint1_linear_2989_100980"
                          x1="5.19475"
                          y1="0.849139"
                          x2="10.3357"
                          y2="24.1155"
                          gradientUnits="userSpaceOnUse">
                          <stop offset="0" stop-opacity="1" />
                          <stop offset="1" stop-opacity="0" />
                        </linearGradient>
                      </defs>
                    </svg>
                  </span>
                </span>
                <span class="app-brand-text demo footer-link fw-semibold ms-1">Materialize</span>
              </a>
              <p class="footer-text footer-logo-description mb-6">
                Most Powerful & Comprehensive 🤩 React NextJS Admin Template with Elegant Material Design & Unique
                Layouts.
              </p>
              <form>
                <div class="d-flex mt-2 gap-4">
                  <div class="form-floating form-floating-outline w-px-250">
                    <input type="text" class="form-control bg-transparent" id="newsletter-1" placeholder="Your email" />
                    <label for="newsletter-1">Subscribe to newsletter</label>
                  </div>
                  <button type="submit" class="btn btn-primary">Subscribe</button>
                </div>
              </form>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-6">
              <h6 class="footer-title mb-4 mb-lg-6">Demos</h6>
              <ul class="list-unstyled mb-0">
                <li class="mb-4">
                  <a href="../vertical-menu-template/" target="_blank" class="footer-link">Vertical Layout</a>
                </li>
                <li class="mb-4">
                  <a href="../horizontal-menu-template/" target="_blank" class="footer-link">Horizontal Layout</a>
                </li>
                <li class="mb-4">
                  <a href="../vertical-menu-template-bordered/" target="_blank" class="footer-link">Bordered Layout</a>
                </li>
                <li class="mb-4">
                  <a href="../vertical-menu-template-semi-dark/" target="_blank" class="footer-link"
                    >Semi Dark Layout</a
                  >
                </li>
                <li>
                  <a href="../vertical-menu-template-dark/" target="_blank" class="footer-link">Dark Layout</a>
                </li>
              </ul>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-6">
              <h6 class="footer-title mb-4 mb-lg-6">Pages</h6>
              <ul class="list-unstyled mb-0">
                <li class="mb-4">
                  <a href="pricing-page.html" class="footer-link">Pricing</a>
                </li>
                <li class="mb-4">
                  <a href="payment-page.html" class="footer-link"
                    >Payment<span class="badge rounded-pill bg-primary ms-2">New</span></a
                  >
                </li>
                <li class="mb-4">
                  <a href="checkout-page.html" class="footer-link">Checkout</a>
                </li>
                <li class="mb-4">
                  <a href="help-center-landing.html" class="footer-link">Help Center</a>
                </li>
                <li>
                  <a href="../vertical-menu-template/auth-login-cover.html" target="_blank" class="footer-link"
                    >Login/Register</a
                  >
                </li>
              </ul>
            </div>
            <div class="col-lg-3 col-md-4">
              <h6 class="footer-title mb-4 mb-lg-6">Download our app</h6>
              <a href="javascript:void(0);" class="d-block footer-link mb-4"
                ><img src="../../assets/img/front-pages/landing-page/apple-icon.png" alt="apple icon"
              /></a>
              <a href="javascript:void(0);" class="d-block footer-link"
                ><img src="../../assets/img/front-pages/landing-page/google-play-icon.png" alt="google play icon"
              /></a>
            </div>
          </div>
        </div>
      </div>
      <div class="footer-bottom py-5">
        <div
          class="container d-flex flex-wrap justify-content-between flex-md-row flex-column text-center text-md-start">
          <div class="mb-2 mb-md-0">
            <span class="footer-text"
              >©
              <script>
                document.write(new Date().getFullYear());
              </script>
              , Made with <i class="tf-icons ri-heart-fill text-danger"></i> by
            </span>
            <a href="https://pixinvent.com" target="_blank" class="footer-link fw-medium footer-theme-link"
              >Pixinvent</a
            >
          </div>
          <div>
            <a href="https://github.com/pixinvent" class="footer-link me-4" target="_blank"
              ><i class="ri-github-fill"></i
            ></a>
            <a href="https://www.facebook.com/pixinvents/" class="footer-link me-4" target="_blank"
              ><i class="ri-facebook-circle-fill"></i
            ></a>
            <a href="https://twitter.com/pixinvents" class="footer-link me-4" target="_blank"
              ><i class="ri-twitter-fill"></i
            ></a>
            <a href="https://www.instagram.com/pixinvents/" class="footer-link" target="_blank"
              ><i class="ri-instagram-line"></i
            ></a>
          </div>
        </div>
      </div>
    </footer>
    <!-- Footer: End -->

    <!-- Core JS -->
    <!-- build:js assets/vendor/js/core.js -->
    <script src="../../assets/vendor/libs/popper/popper.js"></script>
    <script src="../../assets/vendor/js/bootstrap.js"></script>
    <script src="../../assets/vendor/libs/node-waves/node-waves.js"></script>

    <!-- endbuild -->

    <!-- Vendors JS -->

    <!-- Main JS -->
    <script src="../../assets/js/front-main.js"></script>

    <!-- Page JS -->
    <script src="../../assets/js/front-page-pricing.js"></script>
  </body>
</html>
